@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
   max-width: 1500px;
   margin: auto;
}

 .navigation {
     height: 55px;
     background: linear-gradient(45deg, #4199fe, #74b4fe);
}
 .brand {
     position: absolute;
     padding-left: 20px;
     float: left;
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
    
}
.brand img{
   width: 55px;
   height: 55px; 
}
 .brand a, .brand a:visited {
     color: #ffffff;
     text-decoration: none;
      
}
 .nav-container {
     max-width: 1200px;
     margin: 0 auto;
    
}
 nav {
     float: right;
}
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
}
 nav ul li {
     float: left;
     position: relative;
}
 nav ul li a,nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     color: #fff;
     background: #262626 ;
     text-decoration: none;
}
 nav ul li a{
     background: transparent;
     color: #FFF;
}
 nav ul li a:hover, nav ul li a:visited:hover {
     background: #2581DC;
     color: #ffffff;
}
 .navbar-dropdown li a{
     background: #2581DC;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 230px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
/* Mobile navigation */
 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}
 @media only screen and (max-width: 800px) {
     .nav-mobile {
         display: block;
    }
     nav {
         width: 100%;
         padding: 55px 0 15px;
    }
     nav ul {
         display: none;
    }
     nav ul li {
         float: none;
    }
     nav ul li a {
         padding: 15px;
         line-height: 20px;
         background: #262626;
    }
     nav ul li ul li a {
         padding-left: 30px;
    }
     .navbar-dropdown {
         position: static;
}
 @media screen and (min-width:800px) {
     .nav-list {
         display: block !important;
    }
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 5px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
 }

.hero{
   width: 100%;
   min-height: 100vh;
   background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("../images/pic2.jpg");   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.hero img{
   width: 200px;
}
.hero h1{
   color: #fff;
   font-size: 3rem;   
   box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.8);
   padding: 1rem;
   border-radius: 1rem;
}
.hero h1 span{
   color: Orange;
   font-size: 2.5rem;
}

.about{
   width: 80%;
   margin: auto;
}
.about h2{
   font-size: 2rem;
   margin-bottom: 2rem;
   margin-top: 2rem;
}
.about p{
   text-align: justify;
}
.vision{
   margin-bottom: 2rem;
   background-color: darkblue;
   padding: 2rem;
   border-radius: 1rem;
   
   
}
.mission{
   margin-bottom: 2rem;
   background-color: darkblue;
   padding: 2rem;
   border-radius: 1rem;
}
 h3{
   margin-bottom: 1rem;
   color: goldenrod;
   font-size: 2rem;
   text-align: center;
}

span{
   margin-top: 1rem;
   margin-bottom: 1rem;
   color: #fff;
   text-align: center;
}


@media (max-width:999px){
 .header{
   flex-direction: column;
   gap: 2rem;
 }  
 .navbar{
   flex-direction: column;
   display: none;
   gap: 2rem;
   background-color: lightskyblue;
   padding-left: 1rem;
   padding-right: 3rem;
 }
 .navbar li{
   padding-bottom: 2rem;
 }
 .navbar.active{
   display: block;
 }
 .navbar .sub-menu{
   left: 125px;
   top:-20px;
 }
 #menu{
   display: block;
 }
 .toggle-btn{
   display: none;
 }
}

@media (max-width:399px){
   
   .navbar .sub-menu{
   left: 120px;
   top:0px;
 }
 .navbar .sub-menu{
   padding: 0rem 0rem 0rem 0;
 }
 .navbar .sub-menu ul li{
   padding-bottom: 0rem;
}
}






/* contact */

.contact{
   margin-top: 5rem;
   margin-bottom: 8rem;

  
}
.contact .section-title{
   margin-bottom: 3rem;
    text-align: center;
}
.contact .content h5 {
  margin-top: 35px;
  margin-bottom: 15px;
}
.contact .content p{
   font-size: 16px;
}
.contact .content h5:first-child {
  margin-top: 0;
}
.contact .content-right {
  text-align: center;
}
.contact .button {
 border-radius: 15px;
 margin-top: 80px;
}
.contact img{
   width: 50px;
}
/* form */
form input {
  border: 1px solid lightgray;
  background: #f5f5f5;
  padding: 14px 20px;
  width: 100%;
  color: #aaa;
  border-radius: 5px;
  text-align: left;
  
}
form textarea {
  border: 1px solid lightgray;
  background: #f5f5f5;
  padding: 14px 20px;
  width: 100%;
  color: #aaa;
  border-radius: 5px;
  text-align: left;
  margin-top: 20px;
}

#myBtn{
   position: fixed;
   right: 10px;
   bottom: 20px;
   width: 30px;
   height: fit-content;
   background: maroon;
   border-radius: 1rem;
   color: #fff;
   transform: scale(1);
   transition: 0.4s ease-in;
   border: none;
    box-shadow: 1px 1px 10px 1px maroon;
    font-size: 2rem;
}
#myBtn:hover{
   transform: scale(1.2);
   border: none;
   transform: translateY(-10px);
   box-shadow: 2px 2px 10px 5px #fff;
}
.whatsapp{
   position: fixed;
   left: 10px;
   bottom: 20px;
   
}
.whatsapp img{
   width: 50px;
   height:50px;
   border-radius: 50%;
   background: transparent;
}

@media screen and (max-width: 960px){
   .contact{
      margin-right: 1rem;
   }
}


@media screen and (max-width: 400px){

}

/*-- Footer ---*/

.footer{
   background-color: rgb(10, 10, 50);
    background-image: url(../images/banner/b14.png);
   color: #fff;
   margin-top: 5rem;
  padding-bottom: 5px;
   
}
 .icons{
  margin-top: 2rem;
  text-align: center;
  padding: 2rem;
 
}
.icons a{
   text-decoration: none;
   color: #fff;
}
 .icons i{
  cursor: pointer;
  transition: 0.5s;
  font-size: 30px;
  margin: 5px;
  
}
 .icons i:hover{
color: gold;
transform: translateY(-5px);


}
.links{
   display: flex;
   justify-content: space-between;
}
.links h5{
 text-align: left;
 padding-bottom: 1rem;
}
.links li{
   text-align: left;
}
.links ul li{
   list-style: none;
   padding-top: 1rem;
}
.links ul li a{
   text-decoration: none;
   color: #fff;

}
.links ul li a:hover{
   color: yellow;
}
.links span{
   text-align: justify;
   color: #fff;
}
.links .company{
   flex-basis: 40%;
   margin-bottom: 20px;
   margin-left: 20px;
}
.links .variants{
   flex-basis: 30%;
}
.links .learn{
   flex-basis: 20%;
}
.links .connect{
   flex-basis: 20%;
}
.copyright{
   text-align: center;
}
.footer li{
   transition-delay: 0.2s;
   cursor: pointer;
}
.footer li:hover{
   transform: translateX(10px);
   color: gold;

}


@media (max-width:899px){
   .links{
      flex-direction: column;
   }
}